body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 300vh;
  overflow: visible;
  overflow-y: auto;
  background-color: #d1f7e0;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    margin-bottom: 50vh;
    height: 80px;
    width: 100%;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

h1{
    margin: 0;
    font-size: 2rem;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
}

h2{
    font-size: 80px;
}

span{
    color: purple;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    height: 50vh;
    width: 90vw;
}