body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 300vh;
  overflow: visible;
  overflow-y: auto;
  background-color: #d1f7e0;
}

#navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 50vh;
    border: 3px solid red;
    height: 60px;
    width: 100%;
    background: rgba(0, 62, 168, 0.4); /* Deep blue tint */
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

h1{
    font-size: 40px;
}

h2{
    font-size: 50px;
}

span{
    color: purple;
}

.section{
    margin-top: 50vh;
}